
<div>
    <h2><span translate="birdtheatreApp.webstart.detail.title">Webstart</span> {{webstart.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="webstart"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
