
<div>
    <h2><span translate="birdtheatreApp.webstartConfigurator.detail.title">WebstartConfigurator</span> {{webstartConfigurator.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="birdtheatreApp.webstartConfigurator.hostname">Hostname</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{webstartConfigurator.hostname}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="birdtheatreApp.webstartConfigurator.ipaddress">Ipaddress</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{webstartConfigurator.ipaddress}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="webstartConfigurator"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
