
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myWebstartConfiguratorLabel" translate="birdtheatreApp.webstartConfigurator.home.createOrEditLabel">Create or edit a WebstartConfigurator</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="webstartConfigurator.id" readonly>
        </div>

        <div class="form-group">
            <label translate="birdtheatreApp.webstartConfigurator.hostname" for="field_hostname">Hostname</label>
            <input type="text" class="form-control" name="hostname" id="field_hostname"
                    ng-model="webstartConfigurator.hostname">

        </div>
        <div class="form-group">
            <label translate="birdtheatreApp.webstartConfigurator.ipaddress" for="field_ipaddress">Ipaddress</label>
            <input type="text" class="form-control" name="ipaddress" id="field_ipaddress"
                    ng-model="webstartConfigurator.ipaddress">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
