<div class ="well">

    <h2 translate="birdtheatreApp.webstartConfigurator.home.title">WebstartConfigurators</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="webstartConfigurator.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="birdtheatreApp.webstartConfigurator.home.createLabel">Create a new WebstartConfigurator</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a WebstartConfigurator</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteWebstartConfiguratorConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(webstartConfigurator.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="birdtheatreApp.webstartConfigurator.delete.question" translate-values="{id: '{{webstartConfigurator.id}}'}">Are you sure you want to delete this WebstartConfigurator?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="birdtheatreApp.webstartConfigurator.hostname">Hostname</th>
                    <th translate="birdtheatreApp.webstartConfigurator.ipaddress">Ipaddress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="webstartConfigurator in webstartConfigurators">
                    <td><a ui-sref="webstartConfigurator.detail({id:webstartConfigurator.id})">{{webstartConfigurator.id}}</a></td>
                    <td>{{webstartConfigurator.hostname}}</td>
                    <td>{{webstartConfigurator.ipaddress}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="webstartConfigurator.detail({id:webstartConfigurator.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="webstartConfigurator.edit({id:webstartConfigurator.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(webstartConfigurator.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
