 <div class="well">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="activate.title">Activation</h1>

            <div class="alert alert-success" ng-show="success" translate="activate.messages.success">
                <strong>Your user has been activated.</strong> Please authenticate.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="activate.messages.error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
