<div class="well">
    <h2 translate="configuration.title">configuration</h2>

    <span translate="configuration.filter">Filter (by prefix)</span> <input type="text" ng-model="filter" class="form-control">

    <table class="table table-condensed table-striped table-bordered table-responsive" style="table-layout:fixed">
        <thead>
        <tr>
            <th ng-click="predicate = 'prefix'; reverse=!reverse"><span translate="configuration.table.prefix">Prefix</span></th>
            <th translate="configuration.table.properties">Properties</th>
        </tr>
        </thead>
        
        <tr ng-repeat="entry in configuration | filter:filter | orderBy:predicate:reverse">
            <td><span>{{entry.prefix}}</span></td>
            <td>
                <div class="row" ng-repeat="(key, value) in entry.properties">
                    <div class="col-md-6">{{key}}</div>
                    <div class="col-md-6"><span class="pull-right label label-info" style="white-space: normal;word-break:break-all">{{value}}</span></div>
                </div>
            </td>
        </tr>
    </table>
</div>
